<?xml version="1.0"?>

<robot name="podi" 
    xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:property name="robotname" value="podi" />
    
    <!-- Inport helper functions -->
    <xacro:include filename="$(find tbd_podi_description)/urdf/inertia_tensors.xacro"/>
    <xacro:include filename="$(find tbd_podi_description)/urdf/azure_kinect.urdf.xacro"/>


    <!-- Import the base robot -->
    <xacro:include filename="$(find tbd_podi_description)/urdf/pioneer3dx.urdf.xacro"/>

    <!-- Import the handle -->
    <xacro:include filename="$(find tbd_podi_description)/urdf/podi_handle.xacro"/>

    <!-- Import the structure -->
    <xacro:include filename="$(find tbd_podi_description)/urdf/podi_structure.xacro"/>

    <!-- Gazebo -->
    <xacro:include filename="$(find tbd_podi_description)/urdf/podi.gazebo.xacro"/>
</robot>